.placeholderstyle {
    background-color: lightseagreen;
}

.nav-center {
    text-align: center;
}
.nav-center ul.nav {
    display: inline-block;
}
.nav-center ul.nav li {
    display: inline a;
    display-float: left;
}

.del {
    padding: 3px 5px;
    background-color: red;
    border-radius: 5px;
}